
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i&display=swap&subset=vietnamese");
@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap&subset=vietnamese');
/* @import '../../../assets/fontawesome-free-6.4.0-web/css/fontawesome.min.css'; */
@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);

/*
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }

        .section-title h2::after {
            content: "";
            width: 120px;
            height: 1px;
            display: inline-block;
            background: #d41b29;
            margin: 4px 10px;
        }

    .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        /*        font-weight: 700;
*/ /*text-transform: uppercase;*/
        font-family: "Pacifico", sans-serif;
        color: #d41b29;
    }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    background-color: #c7c2c2;
}

.icon-services > .icon::before {
    color: #fff !important;
    font-size: 50px;
}

.services .icon-box {
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}


    .services .icon-box .icon {
        margin: 0 auto;
        width: 80px;
        height: 80px;
        background: #d41b29;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        transition: 0.3s;
    }

        .services .icon-box .icon i {
            color: #151515;
            font-size: 28px;
            transition: ease-in-out 0.3s;
        }

    .services .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

        .services .icon-box h4 a {
            color: #151515;
            transition: ease-in-out 0.3s;
        }

            .services .icon-box h4 a:hover {
                color: #d41b29;
            }

    .services .icon-box p {
        line-height: 24px;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .services .icon-box:hover {
        border-color: #fff;
        box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
    }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
    background-color: #f6f6f6;
}

/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
.faq-section .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 40px;
}

.faq-section .list-group-item-faq {
    padding: 0px;
    margin: 10px;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}

.list-group-item-faq .active {
    background: red;
}

.faq-section .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.faq-section .content p {
    font-size: 15px;
    color: #6c757d;
}

.faq-section .accordion-item {
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

    .faq-section .accordion-item:last-child {
        margin-bottom: 0;
    }

.faq-section .accordion-collapse {
    border: 0;
}

.faq-section .accordion-button {
    /*    padding: 20px 50px 20px 20px;
*/
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
    width: 100%;
}

    .faq-section .accordion-button .faq-title {
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        padding: 0 30px;
        outline: none;
        cursor: pointer;
    }

    .faq-section .accordion-button:hover {
        color: #ffffff !important;
        background: #d41b29;
    }

    /* .faq-section .accordion-button:not(.collapsed) {
        background: #d41b29;
        border-bottom: 0;
        box-shadow: none;
        color: #ffffff;
    } */

    .faq-section .accordion-button .num {
        padding-right: 10px;
        font-size: 20px;
        line-height: 0;
    }

    .faq-section .accordion-button:after {
        position: absolute;
        right: 20px;
        top: 20px;
        color: red;
    }

.faq-section .accordion-body {
    padding: 30px;
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: none;
}



/*--------------------------------------------------------------
# Slider About Vhub
--------------------------------------------------------------*/
.testimonials-students {
    padding: 80px 0;
    position: relative;
    background: #000;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

    .testimonials-students .section-header {
        margin-bottom: 40px;
    }

    .testimonials-students .testimonials-carousel,
    .testimonials-students .testimonials-slider {
        overflow: hidden;
    }

    .testimonials-students .testimonial-item {
        text-align: center;
    }

        .testimonials-students .testimonial-item .testimonial-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 6px solid #d41b29;
            margin: 0 auto;
        }

        .testimonials-students .testimonial-item h3 {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0 5px 0;
        }

        .testimonials-students .testimonial-item h4 {
            font-size: 14px;
            margin: 0 0 15px 0;
        }

        .testimonials-students .testimonial-item .quote-icon-left,
        .testimonials-students .testimonial-item .quote-icon-right {
            color: rgba(255, 255, 255, 0.6);
            font-size: 26px;
        }

        .testimonials-students .testimonial-item .quote-icon-left {
            display: inline-block;
            left: -5px;
            position: relative;
        }

        .testimonials-students .testimonial-item .quote-icon-right {
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }

        .testimonials-students .testimonial-item p {
            font-style: italic;
            margin: 0 auto 15px auto;
        }

    .testimonials-students .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }

        .testimonials-students .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #111111;
        }

        .testimonials-students .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #d41b29;
        }

@media (min-width: 1024px) {
    .testimonials-students {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .testimonials-students .testimonial-item p {
        width: 80%;
    }
}



/*--------------------------------------------------------------
# Statistics Section
--------------------------------------------------------------*/
.stats-counter {
    /**/ background-size: cover;
    padding: 100px 0;
}

@media (min-width: 1365px) {
    .stats-counter {
        background-attachment: fixed;
    }
}

.stats-counter .stats-item {
    padding: 30px;
    width: 100%;
}

    .stats-counter .stats-item span {
        font-size: 5rem;
        display: block;
        color: #fff;
        font-weight: 700;
    }

    .stats-counter .stats-item p {
        padding: 0;
        margin: 0;
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.6);
    }

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
#login-site {
    width: 100%;
    background-size: cover;
    position: relative;
}

    #login-site:before {
        content: "";
        background: rgb(0 0 0 / 76%);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #login-site .container {
        position: relative;
        padding-top: 74px;
        text-align: center;
    }

    #login-site h1 {
        margin: 0;
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 64px;
        color: #fff;
        font-family: "Poppins", sans-serif;
    }

        #login-site h1 span {
            color: #ffc451;
        }

    #login-site h2 {
        color: rgba(255, 255, 255, 0.9);
        margin: 10px 0 0 0;
        font-size: 20px;
    }

    #login-site .icon-box {
        padding: 50px 30px;
        transition: ease-in-out 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: 100%;
        text-align: center;
        background: #11111180;
    }

        #login-site .icon-box:hover {
            background: #d41b29;
        }

        #login-site .icon-box i {
            font-size: 5rem;
            line-height: 1;
            color: #ffc451;
        }

            #login-site .icon-box i:hover {
                color: #fff !important;
            }

            #login-site .icon-box i:before {
                color: #fff !important;
            }

        #login-site .icon-box h3 {
            font-weight: 600;
            margin: 40px 0 0 0;
            padding: 0;
            line-height: 1;
            font-size: 2.5rem;
            line-height: 26px;
        }

            #login-site .icon-box h3 a {
                color: #fff;
                transition: ease-in-out 0.3s;
            }

        #login-site .icon-box:hover {
            border-color: #d41b29;
        }

    #login-site video {
        -moz-transform: translateX(50%) translateY(50%);
        -webkit-transform: translateX(50%) translateY(50%);
        -ms-transform: translateX(50%) translateY(50%);
        transform: translateX(50%) translateY(50%);
        bottom: 50%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        right: 50%;
        width: auto;
        z-index: -1;
    }

@media (min-width: 1024px) {
    #login-site {
        background-attachment: fixed;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 3.1rem;
    }

    .sticky-th {
        position: -webkit-sticky;
        position: sticky;
        top: 7.1rem;
    }

    .no-of {
        overflow: inherit !important;
    }
}

@media (max-width: 768px) {
    #login-site {
        height: auto;
    }

        #login-site h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #login-site h2 {
            font-size: 20px;
            line-height: 24px;
        }

    .sticky {
        position: inherit;
        position: inherit;
        top: 0;
    }

    .sticky-th {
        position: inherit;
        position: inherit;
        top: 0;
    }

    .no-of {
        overflow: auto !important;
    }
}


.faq .faq-list {
    padding: 0 100px;
}

    .faq .faq-list li {
        padding: 20px;
        background: #fff;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    }

    .faq .faq-list .icon-help {
        font-size: 24px;
        position: absolute;
        right: 0;
        left: 20px;
        color: rgb(100, 161, 157);
    }

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.faq .faq-list a {
    display: block;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    line-height: 24px;
    font-weight: bold;
    padding: 0 30px;
    outline: none;
    color: black;
    cursor: pointer;
}

    .faq .faq-list a:hover {
        color: #d41b29;
    }

.faq .faq-list p {
    margin-top: 2px;
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.section-bg {
    background-color: #c7c2c2;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
